@use 'functions' with (
    $base-font-size: 16
);
@use "reset";
@use "variables";
@use "utilities";
@use "typography";
@use "breakpoints";
@use "layout";

:root {
  font-size: #{functions.$base-font-size}px;
}

/* Global styles */
html,
body,
#root {
    height: 100%;
    width: 100%;
}

body {
    background-color: variables.$background;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: functions.rem(32) 0;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: functions.rem(60);
    padding: functions.rem(27.5);
    width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: functions.rem(16);
  text-align: center;
  width: 100%;

    &__title {
        gap: functions.rem(0);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__title--light {
        @include typography.text-preset-2;
        color: variables.$grey-500;
    }

    &__title--bold {
        @include typography.text-preset-1;
        color: variables.$grey-500;
    }

    &__description {
        @include typography.text-preset-4;
        color: variables.$grey-500;
        text-align: center;
        width: 100%;
    }

}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: functions.rem(32);
  width: 100%;

  .card {
    display: flex;
    flex-direction: column;
    // align-items: center;
    padding: functions.rem(32);
    background-color: variables.$white;
    border-radius: functions.rem(8);
    box-shadow: 0 functions.rem(10) functions.rem(20) rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: functions.rem(314);
    border-top: functions.rem(4) solid;

    &__title {
      @include typography.text-preset-3;
      color: variables.$grey-500;
      padding-bottom: functions.rem(6);
      text-align: left;
    }

    &__description {
      @include typography.text-preset-5;
      color: variables.$grey-400;
      width: 100%;
      padding-bottom: functions.rem(32);
      text-align: left;
    }

    &__icon {
      align-self: end;
    }

    &--supervisor {
      border-top-color: variables.$cyan;
    }

    &--team-builder {
      border-top-color: variables.$red;
    }

    &--karma {
      border-top-color: variables.$orange;
    }

    &--calculator {
      border-top-color: variables.$blue;
    }
  }
}